.guide {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: var(--image-viewer-background);
    z-index: 200;
}

.guide__block {
    position: absolute;
    background: var(--background-block);
    padding: 0.5rem;
    border-radius: 0.25rem;
    min-width: 200px;
    max-width: 500px;
    z-index: 202;
    box-shadow: 0px 0px 5rem var(--font-color);
}

.guide__text {
    color: var(--font-color);
}

.guide__next {
    background: #0be881;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
    width: fit-content;
    margin-left: auto;
}